h1{
	padding: 0;
	margin: 0;
}
h2.form__title{
	color:#000;
}
section.main__feature{
	background-color: #CCC;
	width: 100vw;
	height: 75vh;
}
aside{
	background-color: #999;
	width: 20vw;
	height: 75vh;
	display: inline-block;
	padding: 0 1vw;
	overflow: hidden;
}
#form__inputs{
	float: right;
	width: 50vw;
	padding: 2vh 2vw;
}
#form__inputs input{
	display: block;
	margin: 5px 0;
}
#form__img{
	border-radius: 50%;
  	width: 150px;
  	height: 150px;
  	overflow: hidden;
	margin: 0 auto;
}
#form__img--show{
	width: 100%;
}
#fullscreen{
	float: right;
}